.my_container{
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
}
.my_title{
  font-size: 26px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.my_title .line{
  display: inline-block;
  background: rgba(0, 0, 0, 0.85);
  width: 40px;
  height: 2px;
}
.my_title.left{
  display: block;
  text-align: left;
  margin-bottom: 0;
}
.my_title::before{
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 2px;
  bottom: -12px;
  left: 50%;
  background: #13A2E2;
  transform: translateX(-50%);
}
.my_title.left::before{
  left: 0;
  transform: none;
}

@media(max-width:992px){
  .my_title{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
    display: block;
    text-align: center;
  }
  .my_title .db{
    text-align: center;
  }
  .my_title .line{
    display: none;
  }
  .my_title .t{
    display: block;
    text-align: center;
  }
  .my_title.left{
    margin-bottom: 50px;
  }
  .my_title.left::before{
    left: 50%;
    transform: translateX(-50%);
  }
}
/* banner */
.top_sec{
  background: url('../images/CPC2022/banner.png') no-repeat bottom center;
  background-size: cover;
}
.banner_inner{
  padding: 0 70px 70px 46px;
}
.banner_left{
  padding-top: 74px;
}
.banner_left .tag{
  color: #00F1FF;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.banner_left .b_title{
  display: inline-block;
  color: #fff;
  font-size: 66px;
  line-height: 76px;
  text-shadow: 3px 3px 0px #055882;
  font-weight: bold;
}
.banner_left .b_title .t2{
  text-indent:1em;
}
.banner_left .b_title .small_tit{
  font-size: 36px;
}
/* banner right */
.b_right{
  max-width: 500px;
  margin: 30px auto 0;
  padding: 40px 36px 18px;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}
.b_right::after{
  content: '';
  display: block;
  width: 115px;
  height: 123px;
  position: absolute;
  right: 6px;
  top: 20px;
  background: url('../images/introduce/label.png') no-repeat bottom center;
  background-size: cover;
}
.banner_form{
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #D8D8D8;
}
.form_title a{ 
  display: block;
  margin: 0 auto 10px;
  display: block;
  max-width: 372px;
  height: 80px; 
  background: url('../images/CPC2022/title.png') no-repeat center;
  background-size: 100% 100%;
}
.banner_form .form_item{
  margin-bottom: 20px;
}
.banner_form .form_input{
  color: #333;
  padding-left: 20px;
  font-size: 14px;
  width: 100%;
  height: 48px;
  line-height: 48px;
  border-radius: 27px;
  border: 1px solid #D8D8D8;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.banner_form .my_button{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}
.banner_form .form_input:hover {
  border-color: rgba(0,0,0,.25);
}
.banner_form .form_input:focus{
  border-color: #00F1FF;
}
/* banner 主流平台 */
.terrace .tit{
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
}
.terrace .logo_menu{
  margin-top: 22px;
  white-space: nowrap;
}
.terrace .logo_menu:nth-child(2){
  padding-left: 20px;
}
.terrace .logo_item{
  display: inline-block;
  height: 26px;
  margin-right: 18px;
}
/* .terrace .logo_item:last-child{
  margin-right: 0;
} */
.terrace .logo_item img{
  height: 100%;
  object-fit: contain;
}
@media(max-width:992px){
  .b_right::after{
    width: 90px;
    height: 100px;
    right: 10px;
    top: 12px;
  }
  .header_sec .contact_us{
    display: none;
  }
  .top_sec{
    background: url('../images/CPC2022/banner_m.png') no-repeat bottom center;
    background-size: cover;
  }
  .banner_inner{
    padding: 0;
    padding-bottom: 20px;
  }
  .banner_left{
    padding-top: 20px;
    text-align: center;
  }
  .banner_left .tag{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .banner_left .b_title{
    font-size: 40px;
    line-height: 50px;
    text-shadow: 2px 2px 0px #055882;
  }
  .b_right{
    margin: 20px auto 0;
    padding: 23px 17px 20px;
  }
  .form_title a{
    margin-left: 0;
    max-width: 280px;
    height: 60px;
  }
  .banner_form{
    padding-bottom: 20px;
  }
  .banner_form .form_input{
    height: 36px;
    line-height: 36px;
  }
  .banner_form .my_button{
    height: 36px;
    line-height: 36px;
    font-size: 16px;
  }
  .terrace .logo_item{
    height: 24px;
  }
}
/* 多块行 */
.services_sec{
  padding-bottom: 100px;
}
.ser_item{
  padding-bottom: 42px;
  text-align: center;
  position: relative;
}
.ser_item.line::before{
  content: '';
  position: absolute;
  right: -15px;
  top: 22px;
  bottom: 52px;
  width: 1px;
  background: #D8D8D8;
}
.ser_item .img_box{
  display: inline-block;
  width: 80px;
  height: 80px;
}
.ser_item .img_box img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.ser_item .t{
  color: #333;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}
.ser_item .tips{
  color: #6D7278;
  line-height: 22px;
}
@media(max-width:992px){
  .services_sec{
    padding-bottom: 12px;
  }
  .ser_item{
    display: flex;
    align-items: center;
    padding-bottom: 12px;
  }
  .ser_item.line::before{
    display: none;
  }
  .ser_item .img_box{
    width: 97px;
    height: 97px;
    margin-right: 4px;
  }
  .ser_item .text{
    text-align: left;
  }
  .ser_item .t{
    margin-bottom: 4px;
  }
}

/* 产品 */
.product_sec{
  padding-top: 34px;
  padding-bottom: 56px;
}
.product_sec .mobile_show{
  display: none;
}
.know_us_inner{
  padding: 0 26px;
}
.product_wrapper{
  position: relative;
}
.product_wrapper .down1{
  padding-top: 70px;
}
.product_wrapper .down2{
  padding-top: 50px;
}
.product_wrapper::before{
  content: '';
  position: absolute;
  left: 47px;
  top: 24px;
  width: 314px;
  height: 228px;
  background: #D8D8D8;
  border-radius: 6px;
  z-index: -1;
  opacity: 0.24;
}
.product_item{
  padding: 22px 10px 30px;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  transition: all .2s ease-in-out;
}
.product_item .tit{
  line-height: 22px;
  font-weight: bold;
  color: #13A2E2;
  margin: 10px 0;
  transition: color .2s ease-in-out;
}
.product_item .tips{
  color: #6D7278;
  line-height: 22px;
  transition: color .2s ease-in-out;
}
.product_item.active{
  background: #00A6FD;
}
.product_item.active .tit,
.product_item.active .tips{
  color: #fff;
}

.product_item .outer_ring{
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
}
.product_item .outer_ring img{
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.product_wrapper .row{
  margin-right: -10px;
  margin-left: -10px;
}
.product_wrapper .col-lg{
  padding-right: 10px;
  padding-left: 10px;
  z-index: 99;
}
.know_us_wrapper{
  padding-top: 176px;
  padding-left: 67px;
}
.know_us_wrapper .my_title{
  margin-bottom: 40px;
}
@media(max-width:992px){
  .product_sec{
    padding-top: 46px;
    padding-bottom: 46px;
  }
  .product_sec .pc_show{
    display: none;
  }
  .product_sec .mobile_show{
    display: block;
  }
  .product_wrapper::before{
    display: none;
  }
  .product_wrapper .down1,
  .product_wrapper .down2{
    padding-top: 0;
  }
  .product_item{
    background: transparent;
    box-shadow: none;
    padding: 0;
    padding-left: 28px;
    display: flex;
    align-items: flex-start;
  }
  .product_item.active{
    background: transparent;
  }
  .product_item.active .tit{
    color: #13A2E2;
  }
  .product_item.active .tips{
    color: #6D7278;
  }
  .product_item .outer_ring{
    width: 66px;
    height: 66px;
    border-radius: none;
    background: transparent;
  }
  .product_item .outer_ring img{
    width: 100%;
    height: 100%;
  }
  .product_item .item_r{
    margin-left: 30px;
    text-align: left;
  }
  .product_item .tit{
    line-height: 22px;
    font-size: 16px;
    margin: 4px 0 10px;
  }
  .product_item .tips p{
    position: relative;
  }
  .product_item .tips p::before{
    content: '';
    position: absolute;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 2px;
    background: #6D7278;
    border-radius: 50%;
  }
  .know_us_wrapper{
    display: none;
  }
}
/* 数据 */
.num_data_sec{
  padding-bottom: 100px;
}
.num_item{
  margin-bottom: 42px;
  text-align: center;
  position: relative;
}
.num_item.line::before{
  content: '';
  position: absolute;
  right: 0;
  top: 30px;
  bottom: 0;
  width: 1px;
  background: #D8D8D8;
}
.num_item .img_box{
  display: inline-block;
  height: 60px;
}
.num_item .img_box img{
  height: 100%;
  object-fit: contain;
}
.num_item .tips{
  font-size: 16px;
  margin-top: 12px;
  color: #333;
  line-height: 28px;
  font-weight: 500;
}
@media(max-width:992px){
  .num_data_sec{
    padding-bottom: 40px;
  }
  .num_item{
    margin-bottom: 60px;
  }
  .num_item.line::before{
    display: none;
  }
  .num_item.line::after{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 1px;
    background: #D8D8D8;
  }
}
/* 他们的优选 */
.good_options_sec{
  padding: 46px 30px 70px;
  background: #F0F6FA;
  position: relative;
}
.good_options_sec::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(to right, #F0F6FA, rgba(240, 246, 250, 0) 30%,#F0F6FA 90%);
}
.good_options_sec .title{
  padding: 0 15px;
  font-size: 26px;
  line-height: 36px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  position: relative;
  z-index: 99;
}
.options_item {
  margin-top: 30px;
  display: flex;
}
.options_item.bottom{
  margin-left: 100px;
}
.options_item .img_box{
  margin-right: 24px;
  height: 80px;
}
.options_item .img_box img{
  height: 100%;
  object-fit: contain;
}
.options_item .img_box:last-child{
  margin-right: 0;
}
@media(max-width:992px){
  .good_options_sec{
    padding: 22px 15px 30px;
  }
  .good_options_sec::after{
    background: linear-gradient(to right, #F0F6FA, rgba(240, 246, 250, 0) 10%,#F0F6FA 98%);
  }
  .good_options_sec .title{
    font-size: 24px;
    line-height: 36px;
  }
  .options_item {
    margin-top: 20px;
  }
  .options_item .img_box{
    height: 60px;
  }
}
/* 关于我们 */
.about_us_sec{
  padding-top: 100px;
}
.about_us_wrapper{
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1486px;
  width: 100%;
  background: url('../images/public_activity/earth.png') no-repeat top center;
  background-size: cover;
}
.about_us_inner{
  padding: 0 30px;
}
.about_us_inner .title{
  font-size: 26px;
  line-height: 36px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.85);
  position: relative;
}
.about_us_inner .content{
  padding-top: 30px;
}
.about_us_inner .title::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
  height: 2px;
  background: #13A2E2;
}
.about_us_inner .c_item{
  margin-top: 20px;
  color: #6D7278;
  line-height: 26px;
}
@media(max-width:992px){
  .about_us_sec{
    padding-top: 40px;
  }
  .about_us_wrapper{
    padding-bottom: 138px;
    background: none;
  }
  .about_us_inner .title{
    font-size: 24px;
    line-height: 36px;
  }
}
/* 底部注册 */
.bottom_reg_sec{
  padding: 206px 0 116px;
  background: url('../images/public_activity/bottom_reg_bg.png') no-repeat bottom center;
  background-size: cover;
  position: relative;
}
.bottom_reg_inner{
  padding: 0 96px 0 76px;
}
.bottom_reg_inner .slogan{
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.bottom_reg_inner .form_item{
  margin-bottom: 22px;
}
.bottom_reg_inner .form_input{
  width: 100%;
  border-radius: 26px;
  font-size: 14px;
  height: 46px;
  line-height: 46px;
  padding-left: 30px;
  color: #333;
  background: #fff;
}
.bottom_reg_inner .my_button{
  width: 100%;
  height: 40px;
  line-height: 40px;
  box-shadow: none;
  font-size: 18px;
}
/* swiper */
.news_wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.nwe_inner{
  background: #fff;
  padding: 34px 54px;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.new_item{
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.new_item .img_box{
  width: 100%;
  height: 142px;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}
.new_item .img_box:hover{
  transform: scale(1.1);
}
.new_item .img_box img{
  width: 100%;
  height: 100%;
}
.new_item .link{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: 22px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
}
.new_item .link:hover{
  text-decoration: underline;
}
.news_wrapper .swiper-pagination{
  display: none;
}
@media(max-width:992px){
  .bottom_reg_sec{
    padding: 156px 30px 28px;
    background: url('../images/public_activity/bottom_reg_bg_m.jpg') no-repeat bottom center;
    background-size: cover;
  }
  .bottom_reg_inner{
    padding: 0;
  }
  .bottom_reg_inner .slogan{
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 12px;
  }
  .bottom_reg_inner .form_input{
    height: 36px;
    line-height: 36px;
  }
  .bottom_reg_inner .my_button{
    height: 36px;
    line-height: 36px;
    font-size: 16px;
  }
  /* swiper */
  .nwe_inner{
    padding: 30px 40px;
  }
  .swiper-container{
    border-radius: 20px;
  }
  .new_item{
    border-radius: 0;
  }
  .news_wrapper .swiper-pagination{
    display: block;
  }
  .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background: transparent;
    opacity: 1;
  }
    .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #fff;
  }
}
/* footer */
.footer{
  padding: 24px 0;
  text-align: center;
}
.footer .img_box{
  display: inline-block;
  height: 34px;
}
.footer .img_box img{
  height: 100%;
  object-fit: contain;
}
@media(max-width:992px){
  .footer{
    padding: 20px 0;
  }
  .footer .img_box{
    height: 26px;
  }
}